section
    .tilezone
        - var cnt = 2
        - var n = 0
        while n < cnt
            - n++
            .row
                - var m =0
                while m < cnt
                    - m++
                    .card
                        .content
                            .cardFront
                            .cardBack